In [1]:
spy.search({'Path': 'Example'})

,ID,Path,Asset,Name,Description,Type,Value Unit Of Measure,Datasource Name,Archived
0,2D048792-9E40-4069-85F3-E88930688D78,None,Example,Cooling Tower 1,NaN,Asset,NaN,Example Data,False
1,A6E9A7B3-0D17-429F-916A-A7624B2C54DE,None,Example,Cooling Tower 2,NaN,Asset,NaN,Example Data,False
2,566325C5-CE6E-440C-90CC-D8D237589E0A,None,Example,Batch Data,NaN,Asset,NaN,Example Data,False
3,2407642C-0169-4ED0-A25C-321E29DC975B,Example,Cooling Tower 1,Area A,NaN,Asset,NaN,Example Data,False
4,F56CCAB0-19F2-49BE-B14B-27190A2CD0DF,Example,Cooling Tower 1,Area G,NaN,Asset,NaN,Example Data,False
...,...,...,...,...,...,...,...,...,...
111,A9833D31-EEF4-4DEC-B434-7003EDCFD580,Example >> Batch Data,Reactor 4,Phase,NaN,StoredSignal,string,Example Data,False
112,985465A0-5577-4D8E-BD75-AD8944A89165,Example >> Batch Data,Reactor 4,Reactor Temperature,NaN,StoredSignal,°C,Example Data,False
113,A3E7F9CB-6E1F-4F22-89C9-F64798E3D6B3,Example >> Batch Data,Reactor 4,Product,NaN,StoredSignal,string,Example Data,False
114,29D64704-06A2-4150-96E1-7E5FB2E6DA45,Example >> Batch Data,Reactor 4,Batch ID,NaN,StoredSignal,string,Example Data,False
115,75280190-D1AE-4715-A814-9927386651FD,Example >> Batch Data,Reactor 4,Operation,NaN,StoredSignal,string,Example Data,False